// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "base/base";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* HEADER */
.header{
  background: linear-gradient(to bottom, $color__head-gradient-start, $color__head-gradient-end);
  &__pattern{
    position: absolute;
    top: -112px;
    right: -583px;
    width: 1276px;
    height: 1118px;
  }
  &__pattern-svg{
    width: 1276px;
    height: 1118px;
  }
  &__girl{
    position: absolute;
    left: 50%;
    margin-left: 102px;
    bottom: 0;
    width: 373px;
    height: 520px;
  }
  &__girl-svg{
    width: 373px;
    height: 520px;
  }
  &__titles{
    padding-left: 60px;
  }
  &__title{
    font-family:$ff__comfortaa;
    font-size: 48px;
    line-height: 1.17;
    letter-spacing:-1.6px;
    color: #fff;
    margin:5px 0 0;
  }
  &__subtitle{
    font-family:$ff__ptsans;
    font-size: 22px;
    line-height: 1.3;
    color: #ffffff;
    margin: 28px 0 0;
  }
  &__logo{
    padding: 57px 0;
    margin: 0;
  }
  &__button-holder{
    margin:61px 0 130px;
  }
  .header-logo{
    &__link{
      display: inline-flex;
      text-decoration: none;
    }
    &__icon{
      width: 40px;
      height: 44px;
      margin-right: 17px;
    }
    &__text{
      font-family:$ff__comfortaa;
      font-size: 27px;
      color: #ffffff;
    }
  }
}

/* BENEFITS */
.benefits-item{
  &__icon{
    height: 42px;
  }
}
.review-author{
  display: flex;
  &__pic-holder{
    width: 25px;
    flex: none;
  }
}